<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Comentario</th>
            <th>Fecha-Hora</th>
            <th>IP</th>
          </tr>
        </thead>
        <tbody>
        <% for (const obtener of datos) { %>
          <tr>
            <th><%= obtener.name%></th>
            <td><%= obtener.email%></td>
            <td><%= obtener.comentario%></td>
            <td><%= obtener.fecha%></td>
            <td><%= obtener.ip%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
</html>

